images/nc.xlarge.png
images/by.xlarge.png
Adrianna-CV/resume.aux
Adrianna-CV/resume.bbl
Adrianna-CV/resume.bcf
Adrianna-CV/resume.blg
Adrianna-CV/resume.fls
Adrianna-CV/resume.log
Adrianna-CV/resume.out
Adrianna-CV/resume.run.xml
Adrianna-CV/resume.synctex.gz
Adrianna-CV/resume.fdb_latexmk
_site/Adrianna-CV/resume.aux
_site/Adrianna-CV/resume.bbl
_site/Adrianna-CV/resume.bcf
_site/Adrianna-CV/resume.blg
_site/Adrianna-CV/resume.fls
_site/Adrianna-CV/resume.log
_site/Adrianna-CV/resume.out
_site/Adrianna-CV/resume.run.xml
_site/Adrianna-CV/resume.synctex.gz
_site/Adrianna-CV/resume.fdb_latexmk
SmartHome/ProposalOutline.aux
SmartHome/ProposalOutline.fdb_latexmk
SmartHome/ProposalOutline.fls
SmartHome/ProposalOutline.log
SmartHome/ProposalOutline.out
SmartHome/ProposalOutline.synctex.gz
_site/SmartHome/smartlighting/smartlightinghowto.aux
_site/SmartHome/smartlighting/smartlightinghowto.fdb_latexmk
_site/SmartHome/smartlighting/smartlightinghowto.fls
_site/SmartHome/smartlighting/smartlightinghowto.log
_site/SmartHome/smartlighting/smartlightinghowto.out
_site/SmartHome/ProposalOutline.aux
_site/SmartHome/smartlighting/smartlightinghowto.synctex.gz
_site/SmartHome/ProposalOutline.fdb_latexmk
_site/SmartHome/smartlighting/smartlightinghowto.toc
_site/SmartHome/ProposalOutline.synctex.gz
_site/SmartHome/ProposalOutline.fls
_site/SmartHome/ProposalOutline.log
_site/SmartHome/ProposalOutline.out
_site/Adrianna-CV/main.synctex.gz
Adrianna-CV/main.tex
Adrianna-CV/main.pdf
Adrianna-CV/main.synctex.gz
Adrianna-CV/main.tex
SmartHome/smartlighting/smartlightinghowto.aux
SmartHome/smartlighting/smartlightinghowto.fdb_latexmk
SmartHome/smartlighting/smartlightinghowto.toc
SmartHome/smartlighting/smartlightinghowto.synctex.gz
SmartHome/smartlighting/smartlightinghowto.log
SmartHome/smartlighting/smartlightinghowto.fdb_latexmk
_site/LinuxAdmin/labexcercises/contSetup.aux
_site/LinuxAdmin/labexcercises/contSetup.fls
_site/LinuxAdmin/labexcercises/contSetup.fdb_latexmk
_site/LinuxAdmin/labexcercises/contSetup.out
_site/LinuxAdmin/labexcercises/contSetup.synctex.gz
_site/LinuxAdmin/labexcercises/contSetup.log
LinuxAdmin/labexcercises/contSetup.aux
LinuxAdmin/labexcercises/contSetup.fls
LinuxAdmin/labexcercises/contSetup.fdb_latexmk
LinuxAdmin/labexcercises/contSetup.log
LinuxAdmin/labexcercises/contSetup.synctex.gz
LinuxAdmin/labexcercises/contSetup.out
_site/LinuxAdmin/labexcercises/networking.aux
_site/LinuxAdmin/labexcercises/networking.fdb_latexmk
_site/LinuxAdmin/labexcercises/networking.log
_site/LinuxAdmin/labexcercises/networking.fls
_site/LinuxAdmin/labexcercises/networking.out
_site/LinuxAdmin/labexcercises/networking.synctex.gz
LinuxAdmin/labexcercises/networking.aux
LinuxAdmin/labexcercises/networking.fdb_latexmk
LinuxAdmin/labexcercises/networking.fls

LinuxAdmin/labexcercises/networking.log
LinuxAdmin/labexcercises/networking.out
LinuxAdmin/labexcercises/networking.synctex.gz
_site/LinuxAdmin/labexcercises/greplab.aux
LinuxAdmin/labexcercises/greplab.aux
LinuxAdmin/labexcercises/greplab.fdb_latexmk
LinuxAdmin/labexcercises/greplab.fls
LinuxAdmin/labexcercises/greplab.log
LinuxAdmin/labexcercises/greplab.out
LinuxAdmin/labexcercises/greplab.synctex.gz
_site/LinuxAdmin/labexcercises/greplab.fdb_latexmk
_site/LinuxAdmin/labexcercises/greplab.fls
_site/LinuxAdmin/labexcercises/greplab.log

_site/LinuxAdmin/labexcercises/greplab.out
_site/LinuxAdmin/labexcercises/greplab.synctex.gz
_site/LinuxAdmin/labexcercises/labtemplate.synctex.gz
_site/LinuxAdmin/labexcercises/ServerSetup.fls
_site/LinuxAdmin/labexcercises/ServerSetup.log
LinuxAdmin/labexcercises/iptables.aux
LinuxAdmin/labexcercises/iptables.fdb_latexmk
LinuxAdmin/labexcercises/iptables.fls

_site/LinuxAdmin/labexcercises/iptables.aux
_site/LinuxAdmin/labexcercises/iptables.fls

_site/LinuxAdmin/labexcercises/iptables.fdb_latexmk
_site/LinuxAdmin/labexcercises/iptables.log
_site/LinuxAdmin/labexcercises/iptables.out
_site/LinuxAdmin/labexcercises/iptables.synctex.gz
LinuxAdmin/labexcercises/iptables.log
LinuxAdmin/labexcercises/iptables.out
LinuxAdmin/labexcercises/iptables.synctex.gz
LinuxAdmin/labexcercises/ServerSetup.aux
LinuxAdmin/labexcercises/ServerSetup.fdb_latexmk
LinuxAdmin/labexcercises/ServerSetup.out

LinuxAdmin/labexcercises/ServerSetup.fdb_latexmk
LinuxAdmin/labexcercises/ServerSetup.aux
_site/LinuxAdmin/labexcercises/ServerSetup.aux
_site/LinuxAdmin/labexcercises/ServerSetup.fdb_latexmk
_site/LinuxAdmin/labexcercises/ServerSetup.fls
_site/LinuxAdmin/labexcercises/ServerSetup.log
_site/LinuxAdmin/labexcercises/ServerSetup.out
_site/LinuxAdmin/labexcercises/securitypt1.aux
LinuxAdmin/labexcercises/securitypt1.aux
LinuxAdmin/labexcercises/securitypt1.log
LinuxAdmin/labexcercises/securitypt1.fls
LinuxAdmin/labexcercises/securitypt1.fdb_latexmk
LinuxAdmin/labexcercises/securitypt1.out
LinuxAdmin/labexcercises/securitypt1.synctex.gz
LinuxAdmin/labexcercises/securitypt2.aux
LinuxAdmin/labexcercises/securitypt2.fdb_latexmk
LinuxAdmin/labexcercises/securitypt2.fls
LinuxAdmin/labexcercises/securitypt2.log
LinuxAdmin/labexcercises/securitypt2.out
LinuxAdmin/labexcercises/securitypt2.synctex.gz
_site/LinuxAdmin/labexcercises/securitypt1.fdb_latexmk
_site/LinuxAdmin/labexcercises/securitypt1.fls
_site/LinuxAdmin/labexcercises/securitypt1.log
_site/LinuxAdmin/labexcercises/securitypt1.out
_site/LinuxAdmin/labexcercises/securitypt1.synctex.gz
_site/LinuxAdmin/labexcercises/securitypt2.aux
_site/LinuxAdmin/labexcercises/securitypt2.fdb_latexmk
_site/LinuxAdmin/labexcercises/securitypt2.log
_site/LinuxAdmin/labexcercises/securitypt2.fls
_site/LinuxAdmin/labexcercises/securitypt2.out

_site/LinuxAdmin/labexcercises/securitypt2.synctex.gz
LinuxAdmin/labexcercises/serverhardening.aux
LinuxAdmin/labexcercises/serverhardening.fdb_latexmk
LinuxAdmin/labexcercises/serverhardening.fls
LinuxAdmin/labexcercises/serverhardening.out
LinuxAdmin/labexcercises/serverhardening.log
LinuxAdmin/labexcercises/serverhardening.synctex.gz
_site/LinuxAdmin/labexcercises/serverhardening.aux
_site/LinuxAdmin/labexcercises/serverhardening.fdb_latexmk
_site/LinuxAdmin/labexcercises/serverhardening.fls

_site/LinuxAdmin/labexcercises/serverhardening.log
_site/LinuxAdmin/labexcercises/serverhardening.out
_site/LinuxAdmin/labexcercises/serverhardening.synctex.gz
LinuxAdmin/labexcercises/containers.aux
_site/LinuxAdmin/labexcercises/containers.aux
_site/LinuxAdmin/labexcercises/containers.fdb_latexmk
_site/LinuxAdmin/labexcercises/containers.log
_site/LinuxAdmin/labexcercises/containers.fls
_site/LinuxAdmin/labexcercises/containers.out
_site/LinuxAdmin/labexcercises/containers.synctex.gz
LinuxAdmin/labexcercises/containers.fls
LinuxAdmin/labexcercises/containers.out
LinuxAdmin/labexcercises/containers.synctex.gz
LinuxAdmin/labexcercises/containers.log
LinuxAdmin/labexcercises/containers.fdb_latexmk
_site/LinuxAdmin/labexcercises/labtemplate.aux
_site/LinuxAdmin/labexcercises/labtemplate.fdb_latexmk
_site/LinuxAdmin/labexcercises/labtemplate.log
_site/LinuxAdmin/labexcercises/labtemplate.out
_site/LinuxAdmin/labexcercises/labtemplate.synctex.gz
_site/LinuxAdmin/labexcercises/labtemplate.fls
_site/LinuxAdmin/labexcercises/labtemplate.synctex.gz
LinuxAdmin/labexcercises/labtemplate.aux
LinuxAdmin/labexcercises/labtemplate.fdb_latexmk
LinuxAdmin/labexcercises/labtemplate.fls
LinuxAdmin/labexcercises/labtemplate.out
LinuxAdmin/labexcercises/labtemplate.synctex.gz
LinuxAdmin/labexcercises/labtemplate.log
LinuxAdmin/labexcercises/labtemplate.synctex.gz
_site/SmartHome/IoT_Paper/Conclusion.aux
_site/SmartHome/IoT_Paper/Introduction.aux
_site/SmartHome/IoT_Paper/PaperOutline.aux
_site/SmartHome/IoT_Paper/PaperOutline.bcf
_site/SmartHome/IoT_Paper/PaperOutline.log
_site/SmartHome/IoT_Paper/PaperOutline.fls
_site/SmartHome/IoT_Paper/PaperOutline.blg
_site/SmartHome/IoT_Paper/PaperOutline.out
_site/SmartHome/IoT_Paper/PaperOutline.bbl
_site/SmartHome/IoT_Paper/PaperOutline.synctex.gz
_site/SmartHome/IoT_Paper/PaperOutline.toc
_site/SmartHome/IoT_Paper/PaperOutline.fdb_latexmk
_site/SmartHome/PaperOutline.aux
_site/SmartHome/PaperOutline.fls
_site/SmartHome/PaperOutline.synctex.gz
_site/SmartHome/PaperOutline.out
_site/SmartHome/PaperOutline.fdb_latexmk
_site/SmartHome/PaperOutline.log
SmartHome/IoT_Paper/Conclusion.aux
SmartHome/IoT_Paper/Introduction.aux
SmartHome/IoT_Paper/PaperOutline.aux
SmartHome/IoT_Paper/PaperOutline.bcf
SmartHome/IoT_Paper/PaperOutline.blg
SmartHome/IoT_Paper/PaperOutline.bbl
SmartHome/IoT_Paper/PaperOutline.fls
SmartHome/IoT_Paper/PaperOutline.fdb_latexmk
SmartHome/IoT_Paper/PaperOutline.out
SmartHome/IoT_Paper/PaperOutline.log
SmartHome/IoT_Paper/PaperOutline.synctex.gz
SmartHome/IoT_Paper/PaperOutline.toc
SmartHome/PaperOutline.aux
SmartHome/PaperOutline.fdb_latexmk
SmartHome/PaperOutline.log
SmartHome/PaperOutline.fls
SmartHome/PaperOutline.synctex.gz
SmartHome/PaperOutline.out
SmartHome/IoT_Paper/overviewOfProjects.aux
SmartHome/IoT_Paper/overviewOfProjects.fdb_latexmk
SmartHome/IoT_Paper/overviewOfProjects.fls
SmartHome/IoT_Paper/overviewOfProjects.log
SmartHome/IoT_Paper/overviewOfProjects.out
SmartHome/IoT_Paper/overviewOfProjects.synctex.gz
_site/SmartHome/IoT_Paper/overviewOfProjects.aux
_site/SmartHome/IoT_Paper/overviewOfProjects.fdb_latexmk
_site/SmartHome/IoT_Paper/overviewOfProjects.fls
_site/SmartHome/IoT_Paper/overviewOfProjects.log
_site/SmartHome/IoT_Paper/overviewOfProjects.out
_site/SmartHome/IoT_Paper/overviewOfProjects.synctex.gz
_site/LinuxAdmin/labexcercises/sedlab.aux
LinuxAdmin/labexcercises/sedlab.aux
LinuxAdmin/labexcercises/sedlab.fls
LinuxAdmin/labexcercises/sedlab.fdb_latexmk
LinuxAdmin/labexcercises/sedlab.log
LinuxAdmin/labexcercises/sedlab.synctex.gz
LinuxAdmin/labexcercises/sedlab.out
LinuxAdmin/labexcercises/sedlab.synctex.gz
_site/LinuxAdmin/labexcercises/sedlab.fdb_latexmk
_site/LinuxAdmin/labexcercises/sedlab.fls
_site/LinuxAdmin/labexcercises/sedlab.log
_site/LinuxAdmin/labexcercises/sedlab.out
LinuxAdmin/labexcercises/sedlab.synctex.gz
LinuxAdmin/labexcercises/sedlab.synctex.gz
LinuxAdmin/labexcercises/sedlab.synctex.gz
InfoSec/labs/VM1.fls
InfoSec/labs/VM1.fdb_latexmk
InfoSec/labs/VM1.synctex.gz
InfoSec/labs/VM1.log
InfoSec/labs/VM1.out
InfoSec/labs/VM1.aux
InfoSec/labs/ethicspaper.aux
InfoSec/labs/ethicspaper.out
InfoSec/labs/ethicspaper.fls
InfoSec/labs/ethicspaper.fdb_latexmk
InfoSec/labs/ethicspaper.synctex.gz
InfoSec/labs/ethicspaper.log
_site/InfoSec/labs/ethicspaper.aux
_site/InfoSec/labs/ethicspaper.out
_site/InfoSec/labs/VM1.out
_site/InfoSec/labs/VM1.fdb_latexmk
_site/InfoSec/labs/VM1.synctex.gz
_site/InfoSec/labs/VM1.log
_site/InfoSec/labs/VM1.aux
_site/InfoSec/labs/ethicspaper.fdb_latexmk
_site/InfoSec/labs/ethicspaper.fls
_site/InfoSec/labs/ethicspaper.synctex.gz
_site/InfoSec/labs/ethicspaper.log
_site/InfoSec/labs/VM1.fls
_site/InfoSec/labs/malwareanalysis.aux
_site/InfoSec/labs/malwareanalysis.fdb_latexmk
_site/InfoSec/labs/malwareanalysis.synctex.gz
_site/InfoSec/labs/malwareanalysis.log
_site/InfoSec/labs/malwareanalysis.fls
_site/InfoSec/labs/malwareanalysis.out
InfoSec/labs/malwareanalysis.aux
InfoSec/labs/malwareanalysis.fdb_latexmk
InfoSec/labs/malwareanalysis.log
InfoSec/labs/malwareanalysis.fls
InfoSec/labs/malwareanalysis.out
InfoSec/labs/malwareanalysis.synctex.gz
LinuxAdmin/labexcercises/sedlab.synctex.gz
_site/InfoSec/labs/socialengineering.fdb_latexmk
_site/InfoSec/labs/socialengineering.aux
_site/InfoSec/labs/socialengineering.fls
_site/InfoSec/labs/socialengineering.out
_site/InfoSec/labs/socialengineering.log
_site/InfoSec/labs/socialengineering.synctex.gz
InfoSec/labs/socialengineering.aux
InfoSec/labs/socialengineering.fls
InfoSec/labs/socialengineering.log
InfoSec/labs/socialengineering.out
InfoSec/labs/socialengineering.fdb_latexmk
InfoSec/labs/socialengineering.synctex.gz
_site/InfoSec/labs/enccomm.aux
InfoSec/labs/enccomm.synctex.gz
InfoSec/labs/enccomm.aux
_site/InfoSec/labs/enccomm.fdb_latexmk
_site/InfoSec/labs/enccomm.log
_site/InfoSec/labs/labtemplate.synctex.gz
_site/InfoSec/labs/enccomm.fls
_site/InfoSec/labs/labtemplate.out
_site/InfoSec/labs/labtemplate.log
_site/InfoSec/labs/enccomm.out
_site/InfoSec/labs/enccomm.synctex.gz
_site/InfoSec/labs/labtemplate.aux
_site/InfoSec/labs/labtemplate.fdb_latexmk
_site/InfoSec/labs/labtemplate.fls
InfoSec/labs/enccomm.fdb_latexmk
InfoSec/labs/labtemplate.synctex.gz
InfoSec/labs/labtemplate.out
InfoSec/labs/labtemplate.aux
InfoSec/labs/enccomm.fls
InfoSec/labs/labtemplate.fdb_latexmk
InfoSec/labs/enccomm.log
InfoSec/labs/enccomm.out
InfoSec/labs/labtemplate.fls
InfoSec/labs/labtemplate.log
InfoSec/labs/passwordcracking.aux
InfoSec/labs/passwordcracking.out
InfoSec/labs/passwordcracking.synctex.gz
InfoSec/labs/passwordcracking.fdb_latexmk
InfoSec/labs/passwordcracking.fls
InfoSec/labs/passwordcracking.log
InfoSec/labs/securityvideo.aux
InfoSec/labs/securityvideo.fdb_latexmk
InfoSec/labs/securityvideo.synctex.gz
InfoSec/labs/securityvideo.fls
InfoSec/labs/securityvideo.log
InfoSec/labs/securityvideo.out
InfoSec/labs/breachanalysis.aux
InfoSec/labs/breachanalysis.fdb_latexmk
InfoSec/labs/breachanalysis.fls
InfoSec/labs/breachanalysis.log
InfoSec/labs/breachanalysis.synctex.gz
InfoSec/labs/breachanalysis.out
LinuxAdmin/labexcercises/sedlab.synctex.gz
IntroData/labs/whatisdata.log
IntroData/labs/whatisdata.synctex.gz
IntroData/labs/whatisdata.aux
IntroData/labs/whatisdata.fdb_latexmk
IntroData/labs/whatisdata.fls
IntroData/labs/whatisdata.log
_site/IntroData/labs/dataintegrity.aux
_site/IntroData/labs/dataintegrity.fdb_latexmk
_site/IntroData/labs/dataintegrity.fls
_site/IntroData/labs/dataintegrity.out
_site/IntroData/labs/dataintegrity.synctex.gz
_site/IntroData/labs/dataintegrity.log
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.fdb_latexmk
_site/IntroData/labs/whatisdata.synctex.gz
_site/IntroData/labs/whatisdata.fdb_latexmk
IntroData/labs/dataintegrity.aux
IntroData/labs/dataintegrity.log
IntroData/labs/dataintegrity.out
IntroData/labs/dataintegrity.fdb_latexmk
IntroData/labs/dataintegrity.synctex.gz
IntroData/labs/whatisdata.aux
IntroData/labs/whatisdata.fdb_latexmk
IntroData/labs/whatisdata.fls
IntroData/labs/whatisdata.synctex.gz
IntroData/labs/whatisdata.fls
LinuxAdmin/labexcercises/sedlab.synctex.gz
IntroData/labs/dataintegrity.fls
IntroData/labs/whatisdata.aux
IntroData/labs/whatisdata.fls
IntroData/labs/whatisdata.log
IntroData/labs/whatisdata.synctex.gz
IntroData/labs/whatisdata.aux
IntroData/labs/whatisdata.fdb_latexmk
IntroData/labs/whatisdata.fls
IntroData/labs/whatisdata.log
IntroData/labs/whatisdata.synctex.gz
IntroData/labs/introdatabases.aux
IntroData/labs/introdatabases.fls
IntroData/labs/introdatabases.fdb_latexmk
IntroData/labs/introdatabases.out
IntroData/labs/introdatabases.log
IntroData/labs/introdatabases.synctex.gz
IntroData/labs/whatisdata.aux
_site/IntroData/labs/introdatabases.aux
_site/IntroData/labs/introdatabases.fdb_latexmk
_site/IntroData/labs/introdatabases.fls
_site/IntroData/labs/introdatabases.log
_site/IntroData/labs/introdatabases.out
_site/IntroData/labs/introdatabases.synctex.gz
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.fdb_latexmk
_site/IntroData/labs/whatisdata.fls
_site/IntroData/labs/whatisdata.log
_site/IntroData/labs/whatisdata.synctex.gz
IntroData/labs/dbvocab.aux
IntroData/labs/dbvocab.fdb_latexmk
IntroData/labs/dbvocab.fls
IntroData/labs/dbvocab.log
IntroData/labs/dbvocab.out
IntroData/labs/dbvocab.synctex.gz
_site/IntroData/labs/dbsql1.aux
_site/IntroData/labs/dbsql1.fdb_latexmk
_site/IntroData/labs/dbsql1.fls
_site/IntroData/labs/dbsql1.log
_site/IntroData/labs/dbsql1.out
_site/IntroData/labs/dbsql1.synctex.gz
_site/IntroData/labs/dbvocab.aux
_site/IntroData/labs/dbvocab.fdb_latexmk
_site/IntroData/labs/dbvocab.log
_site/IntroData/labs/dbvocab.out
_site/IntroData/labs/dbvocab.synctex.gz
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/dbvocab.fls
IntroData/labs/dbsql1.aux
IntroData/labs/dbsql1.fdb_latexmk
IntroData/labs/dbsql1.fls
IntroData/labs/dbsql1.log
IntroData/labs/dbsql1.out
IntroData/labs/dbsql1.synctex.gz
IntroData/labs/whatisdata.aux
IntroData/labs/whatisdata.synctex.gz
IntroData/labs/whatisdata.fdb_latexmk
IntroData/labs/whatisdata.fdb_latexmk
_site/IntroData/labs/dbsql2.aux
_site/IntroData/labs/dbsql2.fdb_latexmk
_site/IntroData/labs/dbsql2.log
_site/IntroData/labs/dbsql2.fls
_site/IntroData/labs/dbsql2.out
_site/IntroData/labs/dbsql2.synctex.gz
_site/IntroData/labs/dbsql3.aux
_site/IntroData/labs/dbsql3.fdb_latexmk
_site/IntroData/labs/dbsql3.fls
_site/IntroData/labs/dbsql3.log
_site/IntroData/labs/dbsql3.out
_site/IntroData/labs/dbsql3.synctex.gz
_site/IntroData/labs/whatisdata.aux
IntroData/labs/dbsql2.aux
IntroData/labs/dbsql2.fdb_latexmk
IntroData/labs/dbsql2.fls
IntroData/labs/dbsql2.log
IntroData/labs/dbsql2.out
IntroData/labs/dbsql2.synctex.gz
IntroData/labs/dbsql3.aux
IntroData/labs/dbsql3.fdb_latexmk
IntroData/labs/dbsql3.fls
IntroData/labs/dbsql3.log
IntroData/labs/dbsql3.out
IntroData/labs/dbsql3.synctex.gz
LinuxAdmin/labexcercises/sedlab.synctex.gz
LinuxAdmin/labexcercises/sedlab.synctex.gz
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.fdb_latexmk
_site/IntroData/labs/whatisdata.log
_site/IntroData/labs/whatisdata.synctex.gz
_site/IntroData/labs/usesandabusesofdata.aux
_site/IntroData/labs/usesandabusesofdata.fls
_site/IntroData/labs/usesandabusesofdata.fdb_latexmk
_site/IntroData/labs/usesandabusesofdata.out
_site/IntroData/labs/usesandabusesofdata.log
_site/IntroData/labs/usesandabusesofdata.synctex.gz
_site/IntroData/labs/whatisdata.aux
_site/IntroData/labs/whatisdata.synctex.gz
IntroData/labs/usesandabusesofdata.aux
IntroData/labs/usesandabusesofdata.fdb_latexmk
IntroData/labs/usesandabusesofdata.log
IntroData/labs/usesandabusesofdata.fls
IntroData/labs/usesandabusesofdata.out
IntroData/labs/usesandabusesofdata.synctex.gz
_site/IntroData/labs/datavisualizations.aux
_site/IntroData/labs/datavisualizations.fls
_site/IntroData/labs/datavisualizations.out
_site/IntroData/labs/datavisualizations.log
_site/IntroData/labs/datavisualizations.fdb_latexmk
_site/IntroData/labs/datavisualizations.synctex.gz
IntroData/labs/datavisualizations.aux
IntroData/labs/datavisualizations.fdb_latexmk
IntroData/labs/datavisualizations.fls
IntroData/labs/datavisualizations.log
IntroData/labs/datavisualizations.out
IntroData/labs/datavisualizations.synctex.gz
_site/IntroData/labs/datasecurity.aux
_site/IntroData/labs/datasecurity.fls
_site/IntroData/labs/datasecurity.fdb_latexmk
_site/IntroData/labs/datasecurity.out
_site/IntroData/labs/datasecurity.log
_site/IntroData/labs/datasecurity.synctex.gz
IntroData/labs/datasecurity.aux
IntroData/labs/datasecurity.fdb_latexmk
IntroData/labs/datasecurity.fls
IntroData/labs/datasecurity.log
IntroData/labs/datasecurity.out
IntroData/labs/datasecurity.synctex.gz
_site/IntroData/labs/datalawsandregs.aux
_site/IntroData/labs/datalawsandregs.fdb_latexmk
_site/IntroData/labs/datalawsandregs.fls
_site/IntroData/labs/datalawsandregs.log
_site/IntroData/labs/datalawsandregs.out
_site/IntroData/labs/datalawsandregs.synctex.gz
IntroData/labs/datalawsandregs.aux
IntroData/labs/datalawsandregs.fdb_latexmk
IntroData/labs/datalawsandregs.fls
IntroData/labs/datalawsandregs.log
IntroData/labs/datalawsandregs.out
IntroData/labs/datalawsandregs.synctex.gz
_site/IntroData/labs/bigdata.aux
_site/IntroData/labs/bigdata.fdb_latexmk
_site/IntroData/labs/bigdata.fls
_site/IntroData/labs/bigdata.log
_site/IntroData/labs/bigdata.out
_site/IntroData/labs/bigdata.synctex.gz
IntroData/labs/bigdata.aux
IntroData/labs/bigdata.fdb_latexmk
IntroData/labs/bigdata.fls
IntroData/labs/bigdata.log
IntroData/labs/bigdata.out
IntroData/labs/bigdata.synctex.gz
IntroData/labs/finalproject.aux
IntroData/labs/finalproject.fls
IntroData/labs/finalproject.log
IntroData/labs/finalproject.fdb_latexmk
IntroData/labs/finalproject.out
IntroData/labs/finalproject.synctex.gz
LinuxAdmin/labexcercises/awklab.aux
LinuxAdmin/labexcercises/awklab.fdb_latexmk
LinuxAdmin/labexcercises/awklab.fls
LinuxAdmin/labexcercises/awklab.out
LinuxAdmin/labexcercises/awklab.log
LinuxAdmin/labexcercises/awklab.synctex.gz
LinuxAdmin/labexcercises/greplab.synctex.gz
LinuxAdmin/labexcercises/labtemplate.synctex.gz
LinuxAdmin/labexcercises/ServerSetup.synctex.gz
LinuxAdmin/labexcercises/ServerSetup.log
LinuxAdmin/labexcercises/ServerSetup.fls
AdvData/labs/week1.aux
AdvData/labs/week1.fls
AdvData/labs/week1.fdb_latexmk
AdvData/labs/week1.log
AdvData/labs/week1.out
AdvData/labs/week1.synctex.gz
AdvData/labs/week2.aux
AdvData/labs/week2.fdb_latexmk
AdvData/labs/week2.fls
AdvData/labs/week2.log
AdvData/labs/week2.out
AdvData/labs/week2.synctex.gz
AdvData/labs/week3.aux
AdvData/labs/week3.fdb_latexmk
AdvData/labs/week3.fls
AdvData/labs/week3.log
AdvData/labs/week3.out
AdvData/labs/week3.synctex.gz
_site/AdvData/labs/week1.fdb_latexmk
_site/AdvData/labs/week1.log
_site/AdvData/labs/week1.fdb_latexmk
_site/AdvData/labs/week1.synctex.gz
_site/AdvData/labs/week4schema.aux
_site/AdvData/labs/week4schema.fls
_site/AdvData/labs/week4schema.fdb_latexmk
_site/AdvData/labs/week4schema.log
_site/AdvData/labs/week4schema.out
_site/AdvData/labs/week4schema.synctex.gz
_site/AdvData/labs/week6documentation.aux
_site/AdvData/labs/week6documentation.fdb_latexmk
_site/AdvData/labs/week6documentation.fls
_site/AdvData/labs/week6documentation.log
_site/AdvData/labs/week6documentation.out
_site/AdvData/labs/week6documentation.synctex.gz
AdvData/labs/week4schema.aux
AdvData/labs/week4schema.fdb_latexmk
AdvData/labs/week4schema.log
AdvData/labs/week4schema.out
AdvData/labs/week4schema.fls
AdvData/labs/week4schema.synctex.gz
AdvData/labs/week6documentation.aux
AdvData/labs/week6documentation.fdb_latexmk
AdvData/labs/week6documentation.fls
AdvData/labs/week6documentation.log
AdvData/labs/week6documentation.out
AdvData/labs/week6documentation.synctex.gz
_site/AdvData/labs/week5optimization.aux
AdvData/labs/week5optimization.synctex.gz
AdvData/labs/week5optimization.out
AdvData/labs/week5optimization.log
AdvData/labs/week5optimization.fdb_latexmk
AdvData/labs/week5optimization.aux
AdvData/labs/week5optimization.fls
_site/AdvData/labs/week5optimization.fdb_latexmk
_site/AdvData/labs/week5optimization.fls
_site/AdvData/labs/week5optimization.log
_site/AdvData/labs/week5optimization.out
_site/AdvData/labs/week5optimization.synctex.gz
AdvData/labs/week8beyondSQL.aux
SmartHome/IoT_Paper/Resources.bib
AdvData/labs/week8beyondSQL.fdb_latexmk
AdvData/labs/week8beyondSQL.fls
AdvData/labs/week8beyondSQL.log
AdvData/labs/week8beyondSQL.out
AdvData/labs/week8beyondSQL.synctex.gz
_site/AdvData/labs/week8beyondSQL.aux
_site/AdvData/labs/week8beyondSQL.fdb_latexmk
_site/AdvData/labs/week8beyondSQL.fls
_site/AdvData/labs/week8beyondSQL.out
_site/AdvData/labs/week8beyondSQL.log
_site/AdvData/labs/week8beyondSQL.synctex.gz
AdvData/labs/wk10bigdata.synctex.gz
AdvData/labs/wk10bigdata.out
AdvData/labs/wk10bigdata.log
AdvData/labs/wk10bigdata.fls
AdvData/labs/wk10bigdata.fdb_latexmk
AdvData/labs/wk10bigdata.aux
AdvData/labs/wk9matchmaking.synctex.gz
AdvData/labs/wk9matchmaking.log
AdvData/labs/wk9matchmaking.fls
AdvData/labs/wk9matchmaking.out
AdvData/labs/wk9matchmaking.fdb_latexmk
AdvData/labs/wk9matchmaking.aux
_site/AdvData/labs/wk9matchmaking.aux
_site/AdvData/labs/wk9matchmaking.fdb_latexmk
_site/AdvData/labs/wk9matchmaking.log
_site/AdvData/labs/wk9matchmaking.fls
_site/AdvData/labs/wk9matchmaking.out
_site/AdvData/labs/wk9matchmaking.synctex.gz
_site/AdvData/labs/wk10bigdata.aux
_site/AdvData/labs/wk10bigdata.fdb_latexmk
_site/AdvData/labs/wk10bigdata.fls
_site/AdvData/labs/wk10bigdata.log
_site/AdvData/labs/wk10bigdata.out
_site/AdvData/labs/wk10bigdata.synctex.gz
AdvData/labs/wk11sqlscaling.aux
AdvData/labs/wk11sqlscaling.log
AdvData/labs/wk11sqlscaling.fls
AdvData/labs/wk11sqlscaling.out
AdvData/labs/wk11sqlscaling.synctex.gz
AdvData/labs/wk12nosqlscaling.aux
AdvData/labs/wk12nosqlscaling.fdb_latexmk
AdvData/labs/wk12nosqlscaling.fls
AdvData/labs/wk11sqlscaling.fdb_latexmk
AdvData/labs/wk12nosqlscaling.log
AdvData/labs/wk12nosqlscaling.out
AdvData/labs/wk12nosqlscaling.synctex.gz
_site/AdvData/labs/wk11sqlscaling.aux
_site/AdvData/labs/wk11sqlscaling.fdb_latexmk
_site/AdvData/labs/wk11sqlscaling.fls
_site/AdvData/labs/wk11sqlscaling.log
_site/AdvData/labs/wk11sqlscaling.out
_site/AdvData/labs/wk11sqlscaling.synctex.gz
_site/AdvData/labs/wk12nosqlscaling.aux
_site/AdvData/labs/wk12nosqlscaling.fdb_latexmk
_site/AdvData/labs/wk12nosqlscaling.fls
_site/AdvData/labs/wk12nosqlscaling.log
_site/AdvData/labs/wk12nosqlscaling.out
_site/AdvData/labs/wk12nosqlscaling.synctex.gz
_site/AdvData/labs/wk13dataviz.aux
AdvData/labs/wk13dataviz.fls
AdvData/labs/wk13dataviz.fdb_latexmk
AdvData/labs/wk13dataviz.out
AdvData/labs/wk13dataviz.aux
AdvData/labs/wk13dataviz.log
AdvData/labs/wk13dataviz.synctex.gz
_site/AdvData/labs/wk13dataviz.fdb_latexmk
_site/AdvData/labs/wk13dataviz.fls
_site/AdvData/labs/wk13dataviz.log
_site/AdvData/labs/week1.synctex.gz
_site/AdvData/labs/wk13dataviz.out
_site/AdvData/labs/wk13dataviz.synctex.gz
