---
layout: default
---
<!-- Sidebar for the course by topic/week-->
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="/AdvDataOverview.html">Overview</a></li>
                    <li><a href="/AdvData/IntroData.html">Data</a></li>
                    <li><a href="/AdvData/sqlpt1.html">SQL Review</a></li>
                    <li><a href="/AdvData/sqlpt2.html">SQL Tables</a></li>
                   <li><a href="/AdvData/databaseschema.html">Schema</a></li>
                    <li><a href="/AdvData/optimization.html">Optimization</a></li><li>
                    <li><a href="/AdvData/databasedocumentation.html">Documentation</a></li><li>
<!--
                    <li><a href="#">Topic 9743294329</a></li> 
                    -->    
                    <li><a href="/AdvData/Resources.html">Resources</a></li>  
                </ul>
            </div>
        </div>
        <!--Main content of the page will fill in here-->
        <div class="col">
            <br><br>
            {{ content }}
        </div>
    </div>
</div>