---
layout: default
---
<!-- Sidebar for the course by topic/week-->
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="/advlinux.html">Overview</a></li>
                    <li><a href="/LinuxAdmin/IntroServers.html">Intro to Servers</a></li>
                    <li><a href="/LinuxAdmin/Usermgmt.html">User Management</a></li>
                    <li><a href="/LinuxAdmin/installs.html">Installs and Updates</a></li>
                    <li><a href="/LinuxAdmin/dependencies.html">Dependencies, configs, and Troubleshooting</a></li>
                    <li><a href="/LinuxAdmin/networking.html">Networking</a></li>
                    <li><a href="/LinuxAdmin/iptables.html">IP Tables</a></li>
                    <li><a href="/LinuxAdmin/serversecurity.html">Security</a></li>
                    <li><a href="/LinuxAdmin/backups.html">DFIR and Backups</a></li>

                    <!--
                        <li><a href="#">Topic</a></li>
                        <li><a href="/LinuxAdmin/virtualization.html">Virtualization</a></li>
                        <li><a href="#">Containers</a></li>
                    -->
                    <li><a href="/LinuxAdmin/Grep.html">Grep</a> </li>
                    <li><a href="/LinuxAdmin/Awk.html">Awk</a> </li>
                    <li><a href="/LinuxAdmin/Sed.html">Sed</a></li>   
                    <li><a href="/LinuxAdmin/Regex.html">Regular Expressions</a></li>
                    <li><a href="/LinuxAdmin/Documentation.html">Documentation</a></li> 
                    <li><a href="/LinuxAdmin/Resources.html">Resources</a></li>  
                </ul>
            </div>
        </div>
        <!--Main content of the page will fill in here-->
        <div class="col">
            <br><br>
            {{ content }}
        </div>
    </div>
</div>