---
layout: default
---
<!-- Sidebar -->
<div class="container-fluid">
<div class="row">
    <div class="col-4 col-md-3">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/AdvSec.html">Overview</a>
                </li>
                <li><a href="#">Pen Testing & Recon</a></li>
                <li><a href="#">Enumeration</a>
                </li>
                <li><a href="#">The Other Side</a>
                </li>
                <li><a href="#">Exploitation</a> </li>
                <li><a href="#">Web Exploitation</a> </li>
                <li><a href="/AdvInfoSec/Firewalls.html">Firewalls</a>
                </li>
                <li><a href="/AdvInfoSec/cert.html">CSIRT/CERT</a>
                </li>
                <li><a href="/AdvInfoSec/DisasterRecovery.html">Disaster Recovery</a> </li>
                <li><a href="/AdvInfoSec/SecurityAudit.html">Security Audits</a> </li>
                <li><a href="/AdvInfoSec/SecurityFrameworks.html">Security Frameworks</a> </li>
                <li><a href="/AdvInfoSec/SystemRecoveryCleanUp.html">Incident Recovery</a> </li>
                <li><a href="/AdvInfoSec/HardeningSystems.html">Hardening</a> </li>
                <li><a href="/AdvInfoSec/AdvSecNext.html">Where to go next</a>
                </li>


            </ul>
        </div>
    </div>
    <div class="col">
        <br><br>
        {{ content }}
    </div>
</div>
</div>