---
layout: default
---
<!-- Sidebar -->
<div class="container-fluid">
<div class="row">
    <div class="col-4 col-md-3">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/AdvSec.html">Overview</a>
                </li>
                <li><a href="/AdvInfoSec/Ethics.html">Ethics</a></li>
                <li><a href="/AdvInfoSec/IntroThreats.html">Intro to Pen Testing</a></li>
                <li><a href="/AdvInfoSec/Recon.html">Reconnaissance</a></li>
                <li><a href="/AdvInfoSec/Enumeration.html">Enumeration</a>
                </li>
                <li><a href="/AdvInfoSec/OtherSide.html">The Other Side</a>
                </li>
                <li><a href="/AdvInfoSec/Exploitations.html">Exploitation</a> </li>
                <li><a href="/AdvInfoSec/WebExploits.html">Web Exploitation</a> </li>
                <li><a href="/AdvInfoSec/Firewalls.html">Firewalls</a>
                </li>
                <li><a href="/AdvInfoSec/cert.html">CSIRT/CERT</a>
                </li>
                <li><a href="/AdvInfoSec/DisasterRecovery.html">Disaster Recovery</a> </li>
                <li><a href="/AdvInfoSec/SecurityAudit.html">Security Audits</a> </li>
                <!--
                <li><a href="/AdvInfoSec/SecurityFrameworks.html">Security Frameworks</a> </li>
                <li><a href="/AdvInfoSec/SystemRecoveryCleanUp.html">Incident Recovery</a> </li>
                <li><a href="/AdvInfoSec/HardeningSystems.html">Hardening</a> </li>
                <li><a href="/AdvInfoSec/SocialEngineering.html">Social Engineering</a></li>
                <li><a href="/AdvInfoSec/AdvSecNext.html">Where to go next</a></li>
                -->
                <li><a href="/AdvInfoSec/Resources.html">Links to other Resources</a></li>
            </ul>
        </div>
    </div>
    <div class="col">
        <br><br>
        {{ content }}
    </div>
</div>
</div>