---
layout: default
---
<!-- Sidebar -->
<div class="container-fluid">
<div class="row">
    <div class="col-4 col-md-3">
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand"><a href="/introinfosec.html">Overview</a>
                </li>
                <li><a href="/InfoSec/InfoSecWk1.html">Intro to Security</a>
                </li> 
                <li><a href="/InfoSec/Ethics.html">Ethics</a></li>
                <li><a href="/InfoSec/Malware.html">Malware</a></li>
               <!--
                <li><a href="#">Risk Management</a>
                </li>
                <li><a href="#">Identifying threats</a>
                </li>
                <li><a href="#">Social Engineering</a>
                </li>
                <li><a href="#">Privacy and Paranoia</a>
                </li>
                <li><a href="#">Network Security</a>
                </li>
                <li><a href="#">Cryptography</a>
                </li>
                <li><a href="#">Web Security</a>
                </li>
                <li><a href="#">Platform and physical Security</a>
                </li>
                <li><a href="#">Policy and Compliance</a>
                </li>
                <li><a href="#">Cloud Security</a>
                </li>
                <li><a href="#">Digital Forensics</a>
                </li>
                <li><a href="#">Detecting and Managing Infections</a>
                </li>
                <li><a href="#">AI/ML</a>
                </li>
                <li><a href="#">IoT</a>
                </li>
            -->
                <li>
                    <a href="/InfoSec/Resources.html">Resources</a>
                </li>  

            </ul>
        </div>
    </div>
    <div class="col">
        <br><br>
        {{ content }}
    </div>
</div>
</div>