---
layout: default
---
<!-- Sidebar for the course by topic/week-->
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="/introlinux.html">Overview</a>
                    </li>
                    <li>
                        <a href="/IntroLinux/linuxhistory.html">Introduction & History</a></li>
                    <li>
                        <a href="/IntroLinux/filesandpaths.html">File structure & paths</a>
                    </li>
                    <li>
                        <a href="/IntroLinux/commoncommands.html">Common Commands</a>
                    </li>
                    <li>
                        <a href="/IntroLinux/cmdsandwildcards.html">Wildcards & processes</a> 
                    </li>
                    <li>
                        <a href="/IntroLinux/envvar.html">Environmental Variables</a> 
                    </li>
                    <li>
                        <a href="/IntroLinux/networking.html">Networking & file permissions</a>
                    </li>    
                    <!--<li>
                        <a href="/IntroLinux/compressionarchive.html">File compression and archives</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/shellscripting.html">Intro to Shellscripting</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/shellvar.html">Shellscripting: Variables</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/shellcond.html">Shellscripting: Conditionals</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/shellloop.html">Shellscripting:Loops</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/grepandfriends.html">Grep and other useful odds and ends</a>
                    </li> 
                    <li>
                        <a href="/IntroLinux/aliasesandothers.html">Aliases and other ways to power up your prompt</a>
                    </li> 
                -->
                    <li>
                        <a href="/IntroLinux/resources.html">Resources</a>
                    </li>  
                </ul>
            </div>
        </div>
        <!--Main content of the page will fill in here-->
        <div class="col">
            <br><br>
            {{ content }}
        </div>
    </div>
</div>