---
layout: default
---
<!-- Sidebar for the course by topic/week-->
<div class="container-fluid">
    <div class="row">
        <div class="col-4 col-md-3">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="/introdata.html">Overview</a>
                    </li>
                    <li><a href="/IntroData/introtodata.html">Intro to Data</a></li>
                    <li><a href="/IntroData/dataforeveryone.html">Data for Everyone</a></li>
                    <li><a href="/IntroData/dataintegrity.html">Data Integrity</a></li>
                    <li><a href="/IntroData/introdatabases.html">Intro to Databases</a></li>
                    <li><a href="/IntroData/databasekeysandvocab.html">Database Vocab</a></li>
                    <li><a href="/IntroData/introsql.html">Intro to SQL</a></li>
 <!--
                  <li>
                        <a href="#">Topic 2</a>
                    </li>
                    <li>
                        <a href="#">Topic 3</a>
                    </li>
                    <li>
                        <a href="#">Topic 4</a> 
                    </li>
                    <li>
                        <a href="#">Topic 5</a> 
                    </li>
                    
                    <li>
                        <a href="#">Topic 6</a>
                    </li>    
                    -->  
                    <li>
                        <a href="/IntroData/Resources.html">Resources</a>
                    </li>  
                </ul>
            </div>
        </div>
        <!--Main content of the page will fill in here-->
        <div class="col">
            <br><br>
            {{ content }}
        </div>
    </div>
</div>